In [31]:
import pandas as pd
import time
from sklearn.preprocessing import LabelEncoder
from IPython.display import display
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np
import random
# import tensorflow as tf
# from sklearn.preprocessing import OneHotEncoder

In [8]:
!ls

Fireball_And_Bolide_Reports.csv  Near-Earth_Comets_-_Orbital_Elements.csv
GLC03122015.csv			 Untitled.ipynb
Meteorite_Landings.csv

In [166]:
# db = pd.read_csv('Fireball_And_Bolide_Reports.csv')
# db = pd.read_csv('GLC03122015.csv')
db = pd.read_csv('Near-Earth_Comets_-_Orbital_Elements.csv')
# db = pd.read_csv('Meteorite_Landings.csv')
# pd.set_option('display.max_rows', db.shape[0]+1)

In [167]:
# db['nan number'] = db.isnull().sum(1)
# db = db.sort_values(by=['nan number'])
# db.dtypes

In [168]:
labelencoder = LabelEncoder()
for label in db.select_dtypes(include='object').columns.tolist():
    st = time.time()
    mask = ~db[label].isnull()
    db[label][mask] = labelencoder.fit_transform(db[label][mask])
    ed = time.time()
#     print(ed-st)
    if len(db[label][mask]) * 0.1 < db[label][mask].max():
        db = db.drop(columns=[label])

/home/kevinlin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [169]:
class Net(torch.nn.Module):
    def __init__(self, num_classes):
        super(Net, self).__init__()
        add_block = []
        add_block += [nn.Linear(num_classes, num_classes*10)]
        add_block += [nn.ReLU()]
        for i in range(1):
            add_block += [nn.Linear(num_classes*10, num_classes*10)]
#             add_block += [nn.BatchNorm1d(num_classes*10)]
            add_block += [nn.ReLU()]
            
        self.add_block = nn.Sequential(*add_block)
        self.fc = nn.Linear(num_classes*10, num_classes)
        
    def forward(self, x):
        x = self.add_block(x)
        x = self.fc(x)
        return x
    
def train(model, train_matrix, masked_num, optimizer, epochs):
    
    
    model.train()
    r, c = train_matrix.shape[0], train_matrix.shape[1]
    gt = torch.from_numpy(train_matrix.copy().astype(np.float32)).cuda()
    for i in range(epochs):
        data = train_matrix.copy()
        for j in range(r):
            indices = np.random.choice(c, replace=False, size=masked_num)
            data[j,indices] = 0
        data = torch.from_numpy(data.astype(np.float32)).cuda()
        optimizer.zero_grad()
        output = model(data)
        loss = F.l1_loss(output, gt)
        loss.backward()
        optimizer.step()
        
        if i%1000 == 0:
            print(loss.item())
#             print(data)
#         if batch_idx % args.log_interval == 0:
#             print('Train Epoch: {} [{}/{} ({:.0f}%)]\tLoss: {:.6f}'.format(
#                 epoch, batch_idx * len(data), len(train_loader.dataset),
#                 100. * batch_idx / len(train_loader), loss.item()))

def test(model, test_matrix):
    data = torch.from_numpy(test_matrix.astype(np.float32)).cuda()
    with torch.no_grad():
        output = model(data)
    return output.detach().cpu().numpy()

In [170]:
model = Net(len(db.columns)).cuda()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)#, momentum=0.5)

In [171]:
print("start ...")
print('*'*80)

'''
for each state with different nan number in row, e.g., 0, 1, 2, 4 ,5 
generate a trainable table(w/o nan by fill in with 0) and untrainable table(w/ nan even we fill in with 0) 
'''
max_nan_in_row =  db.isnull().sum(1).max()
print("max nan in row: ", max_nan_in_row)
for idx in range(max_nan_in_row):
    df = db.copy()
    
    print("\n\nstep 0: current state")
    print("deal with the original nan number(%d) in row"%idx)
    
    
    print("\n\nstep 1: find nan col and row in this state")
    col_had_nan = df.columns[df.isnull().any()].tolist()
#     for wnl in col_had_nan:
#         print(wnl)
    row_had_nan = df.isnull().any(axis=1)
    display(df.loc[row_had_nan,:].head())
    
    
    print("\n\nstep 2: extract non-nan row")
#     to_train = df.copy()
#     to_train.loc[row_had_nan, col_had_nan] = 0
#     display(to_train.loc[row_had_nan, :].head())
    to_train = df.loc[~row_had_nan, :]
    if to_train.shape[0] == 0:
        print("skip since no row")
        continue
    display(to_train.head())
    
    
    print("\n\nstep 3: normalization")
    train_mean = df[df.columns].mean()
    train_std  = df[df.columns].std()
    to_train.loc[:,to_train.columns] = (to_train[to_train.columns] - train_mean) / train_std
    to_train_numpy = to_train.to_numpy()
#     display(train_mean)
#     display(train_std)
    
#     to_gt_numpy = to_train_numpy.copy()
#     for i in range(to_train_numpy.shape[0]):
#         to_train_numpy[i].shape
#         indices = np.random.choice(np.arange(to_train_numpy[i].shape[0]), replace=False,
#                                size=int(to_train_numpy[i].shape[0] * random.uniform(0.1,0.5)))
#         to_train_numpy[i,indices]=0
    
    epochs = 5000
    train(model, to_train_numpy, idx+1, optimizer, epochs)
    display(to_train.head())
    
    
    print("\n\nstep 4: find nan row with %d nan in this state and test"%idx)
    row_had_1_nan = df.isnull().sum(axis=1) == idx+1
    to_test = df.loc[row_had_1_nan, :].copy()
    to_test.loc[:,to_test.columns] = (to_test[to_test.columns] - train_mean) / train_std
    mask = to_test.isnull()
    to_test.fillna(0, inplace=True)
    display(to_test.head())
    to_test_numpy = to_test.to_numpy()
    result = test(model, to_test_numpy)
#     pd.DataFrame(data=result, index=data[1:,0], columns=to_train.columns)
    display(df.loc[row_had_1_nan, :].head())
    result_db = to_test.copy()
    result_db[:] = result * (train_std.to_numpy()) + (train_mean.to_numpy())
#     print(result.shape)
#     print(train_std.to_numpy().shape)
#     print(train_mean.to_numpy().shape)
#     print(result * (train_std.to_numpy()) + (train_mean.to_numpy()))
    display(result_db.head())
    
    
    print("\n\nstep 5: replace the nan with generated values by our model")
#     db.loc[row_had_1_nan] = tt
#     display(db.loc[row_had_1_nan, :].head())
    db_tmp = db.loc[row_had_1_nan, :].copy()
    db_tmp[mask] = result_db[mask]
    db.loc[row_had_1_nan, :] = db_tmp
#     db.loc[row_had_1_nan, :][mask] = result_db[mask]
    display(db.loc[row_had_1_nan, :].head())

start ...
********************************************************************************
max nan in row:  4


step 0: current state
deal with the original nan number(0) in row


step 1: find nan col and row in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,NaN,NaN
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,NaN,NaN
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,NaN,NaN

step 2: extract non-nan row

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
6,56981,2457053.028,0.637528,22.335015,172.506161,93.416327,1.239215,5.60,6.32,0.224191,7.860000e-11,-1.150000e-11,-1.530000e-10,131.00
13,56498,2455969.126,0.706818,31.908101,172.584425,195.397015,1.030696,6.00,6.59,0.035395,3.350000e-09,-4.290000e-10,-9.570000e-10,-32.80
20,56799,2456482.869,0.659203,11.757139,356.340205,82.164391,1.052262,5.12,5.43,0.068212,2.820000e-09,-1.360000e-09,6.650000e-10,-3.73

step 3: normalization

/home/kevinlin/.local/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0.5299099683761597
0.014312888495624065
0.008347254246473312
0.006444698199629784
0.004373971372842789

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
6,0.538958,0.553129,-1.005675,-0.065522,-0.047700,-0.345123,1.159375,-0.359305,-0.316982,0.871624,-0.219582,-0.057342,-0.465427,1.479796
13,0.480238,0.421608,-0.379918,0.216138,-0.046808,0.701248,0.408461,-0.322327,-0.307685,-0.704226,-0.204046,-0.277724,-1.335525,-0.715125
20,0.516831,0.483946,-0.809929,-0.376744,2.046246,-0.460573,0.486124,-0.403680,-0.347630,-0.430308,-0.206563,-0.769161,0.419822,-0.325587

step 3: find nan row with 0 nan in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
7,0.222015,0.242437,0.640414,0.895054,0.351000,1.470217,0.395570,0.081665,-0.065948,-0.204125,-0.216684,0.021045,-0.796583,0.000000
17,0.463947,0.398343,1.536114,0.129601,0.220194,1.267929,-0.608545,0.761147,0.431988,0.796486,-0.393295,-0.953912,1.951151,0.000000
23,0.538958,0.576735,-0.974551,-0.515526,-1.866983,-0.789137,1.173876,-0.351909,-0.312850,1.147053,-0.214779,0.005209,-0.087735,0.000000
27,0.417262,0.407323,-0.511698,-0.387865,0.252602,-0.586994,0.092134,-0.398133,-0.350040,-0.679370,-0.188897,0.203684,0.000000,-0.439085
96,0.552209,0.604124,-0.996709,-0.421059,0.272881,1.112124,0.941660,-0.383341,-0.331790,0.688043,-0.112628,-2.943941,1.139493,0.000000

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
7,54374,2454492.526,0.819800,54.983185,207.509246,270.341652,1.027117,10.37,13.61,0.095310,6.890000e-10,1.370000e-10,-4.590000e-10,NaN
17,56364,2455777.391,0.918981,28.966873,196.025397,250.626410,0.748287,17.72,28.07,0.215189,-3.650000e-08,-1.710000e-09,2.080000e-09,NaN
23,56981,2457247.572,0.640974,7.040201,12.785606,50.142110,1.243242,5.68,6.44,0.257189,1.090000e-09,1.070000e-10,1.960000e-10,NaN
27,55980,2455851.400,0.692226,11.379157,198.870591,69.843217,0.942857,5.18,5.36,0.038373,6.540000e-09,4.830000e-10,NaN,-12.2
96,57090,2457473.288,0.638520,10.250973,200.650953,235.441496,1.178758,5.34,5.89,0.202197,2.260000e-08,-5.480000e-09,1.330000e-09,NaN

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
7,56497.352497,2.455917e+06,0.705135,31.476203,174.991253,189.059819,1.034171,5.972098,6.486684,0.040950,5.059865e-09,-4.376949e-10,-8.789020e-10,-28.871934
17,56669.076925,2.456442e+06,0.683067,23.424569,197.042009,122.595793,1.066739,5.727537,6.841575,0.096627,2.540410e-09,-4.480783e-10,-1.457859e-10,11.023810
23,57308.122264,2.457857e+06,0.595564,21.640851,150.482366,67.432785,1.390307,5.508181,6.499655,0.336091,-3.069631e-09,3.755605e-10,-2.000975e-10,232.648870
27,56736.222131,2.456458e+06,0.661575,12.799948,345.218688,85.026766,1.053445,5.190759,5.652255,0.071734,4.683137e-09,-1.287772e-09,6.062226e-10,-2.234079
96,56734.408112,2.456414e+06,0.668640,16.169119,299.132121,96.321455,1.056715,5.375176,5.976826,0.078637,4.110666e-09,-1.030442e-09,3.853771e-10,2.222875

step 4: replace the nan with 888 since we will generate a value for it by our model

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
7,54374,2454492.526,0.819800,54.983185,207.509246,270.341652,1.027117,10.37,13.61,0.095310,6.890000e-10,1.370000e-10,-4.590000e-10,-28.871934
17,56364,2455777.391,0.918981,28.966873,196.025397,250.626410,0.748287,17.72,28.07,0.215189,-3.650000e-08,-1.710000e-09,2.080000e-09,11.023810
23,56981,2457247.572,0.640974,7.040201,12.785606,50.142110,1.243242,5.68,6.44,0.257189,1.090000e-09,1.070000e-10,1.960000e-10,232.648870
27,55980,2455851.400,0.692226,11.379157,198.870591,69.843217,0.942857,5.18,5.36,0.038373,6.540000e-09,4.830000e-10,6.062226e-10,-12.200000
96,57090,2457473.288,0.638520,10.250973,200.650953,235.441496,1.178758,5.34,5.89,0.202197,2.260000e-08,-5.480000e-09,1.330000e-09,2.222875

step 0: current state
deal with the original nan number(1) in row


step 1: find nan col and row in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,NaN,NaN
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,NaN,NaN
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,NaN,NaN

step 2: extract non-nan row

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
6,56981,2457053.028,0.637528,22.335015,172.506161,93.416327,1.239215,5.60,6.32,0.224191,7.860000e-11,-1.150000e-11,-1.530000e-10,131.000000
7,54374,2454492.526,0.819800,54.983185,207.509246,270.341652,1.027117,10.37,13.61,0.095310,6.890000e-10,1.370000e-10,-4.590000e-10,-28.871934
13,56498,2455969.126,0.706818,31.908101,172.584425,195.397015,1.030696,6.00,6.59,0.035395,3.350000e-09,-4.290000e-10,-9.570000e-10,-32.800000
17,56364,2455777.391,0.918981,28.966873,196.025397,250.626410,0.748287,17.72,28.07,0.215189,-3.650000e-08,-1.710000e-09,2.080000e-09,11.023810
20,56799,2456482.869,0.659203,11.757139,356.340205,82.164391,1.052262,5.12,5.43,0.068212,2.820000e-09,-1.360000e-09,6.650000e-10,-3.730000

step 3: normalization
0.3572166860103607
0.01846546120941639
0.01685612089931965
0.014124007895588875
0.014162718318402767

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
6,0.538958,0.553129,-1.005675,-0.065522,-0.047700,-0.345123,1.159375,-0.359305,-0.316982,0.871624,-0.219582,-0.057342,-0.521407,1.193168
7,0.222015,0.242437,0.640414,0.895054,0.351000,1.470217,0.395570,0.081665,-0.065948,-0.204125,-0.216684,0.021045,-0.868261,-0.735491
13,0.480238,0.421608,-0.379918,0.216138,-0.046808,0.701248,0.408461,-0.322327,-0.307685,-0.704226,-0.204046,-0.277724,-1.432749,-0.782878
17,0.463947,0.398343,1.536114,0.129601,0.220194,1.267929,-0.608545,0.761147,0.431988,0.796486,-0.393295,-0.953912,2.009721,-0.254198
20,0.516831,0.483946,-0.809929,-0.376744,2.046246,-0.460573,0.486124,-0.403680,-0.347630,-0.430308,-0.206563,-0.769161,0.405805,-0.432184

step 3: find nan row with 1 nan in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,-0.382693,-0.731336,1.971061,4.051436,-0.744493,-0.704201,-1.193051,2.366020,2.059062,-0.467285,-0.218674,0.030546,0.0,0.0
3,0.525463,0.500367,0.897511,-0.376072,0.112156,2.129229,-2.092936,-0.498899,-0.420977,0.445109,-0.219205,-0.053938,0.0,0.0
4,-7.540955,-7.520729,0.021788,-0.333810,0.512169,1.268366,-0.137562,-0.304762,-0.305619,-0.995339,-0.201435,-0.185348,0.0,0.0
5,-5.483927,-5.466992,0.550071,0.141818,-1.842366,-0.247122,-1.179119,-0.358381,-0.346597,2.059947,-0.159643,0.656060,0.0,0.0
8,-2.133355,-2.136702,1.859705,1.459772,0.254401,1.321947,-0.517148,2.217181,1.905136,0.563700,-0.224800,-0.194322,0.0,0.0

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,NaN,NaN
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,NaN,NaN
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,NaN,NaN
5,7440,2407439.534,0.809796,29.382100,14.946800,102.967600,0.589847,5.61,5.46,0.366559,1.270000e-08,1.340000e-09,NaN,NaN
8,35000,2434885.381,0.954812,74.176894,199.028469,255.891144,0.773667,33.47,70.85,0.187300,-1.020000e-09,-2.710000e-10,NaN,NaN

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,56006.281409,2.454622e+06,1.238060,49.827726,187.415086,353.136363,0.295341,33.813386,55.635712,0.270972,-9.359584e-08,-9.167532e-10,3.856397e-09,15.341485
3,55558.744835,2.455378e+06,0.745147,9.606434,180.787565,164.107951,0.822545,7.833506,10.136424,0.153057,-8.777501e-09,-1.334740e-10,1.056006e-09,3.011731
4,56235.131281,2.456184e+06,0.697613,15.563480,201.401530,122.511189,1.025498,6.059541,7.168344,0.146425,7.866699e-10,-9.528522e-11,2.683580e-10,10.001879
5,56235.131281,2.456184e+06,0.697613,15.563480,201.401530,122.511189,1.025498,6.059541,7.168344,0.146425,7.866699e-10,-9.528522e-11,2.683580e-10,10.001879
8,56109.972251,2.455330e+06,0.993185,34.302744,193.752284,248.641109,0.626172,21.238240,33.675357,0.214540,-5.083154e-08,-5.445496e-10,2.230672e-09,12.922133

step 4: replace the nan with 888 since we will generate a value for it by our model

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,3.856397e-09,15.341485
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,1.056006e-09,3.011731
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,2.683580e-10,10.001879
5,7440,2407439.534,0.809796,29.382100,14.946800,102.967600,0.589847,5.61,5.46,0.366559,1.270000e-08,1.340000e-09,2.683580e-10,10.001879
8,35000,2434885.381,0.954812,74.176894,199.028469,255.891144,0.773667,33.47,70.85,0.187300,-1.020000e-09,-2.710000e-10,2.230672e-09,12.922133

step 0: current state
deal with the original nan number(2) in row


step 1: find nan col and row in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN
11,40240,2440162.042,0.642581,17.758983,166.050417,240.875547,1.272248,5.85,6.72,0.289230,NaN,NaN,NaN,NaN
12,20080,2420098.290,0.919831,40.890061,57.080955,348.006447,1.254013,30.03,61.87,0.468283,NaN,NaN,NaN,NaN
24,56981,2456850.137,0.819155,9.169284,337.858042,36.109196,0.784161,7.89,9.03,0.085253,NaN,NaN,NaN,NaN

step 2: extract non-nan row

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,3.856397e-09,15.341485
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,1.056006e-09,3.011731
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,2.683580e-10,10.001879
5,7440,2407439.534,0.809796,29.382100,14.946800,102.967600,0.589847,5.61,5.46,0.366559,1.270000e-08,1.340000e-09,2.683580e-10,10.001879
6,56981,2457053.028,0.637528,22.335015,172.506161,93.416327,1.239215,5.60,6.32,0.224191,7.860000e-11,-1.150000e-11,-1.530000e-10,131.000000

step 3: normalization
0.5359530448913574
0.17409241199493408
0.15687015652656555
0.15098807215690613
0.16349194943904877

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,-0.382693,-0.731336,1.971061,4.051436,-0.744493,-0.704201,-1.193051,2.366020,2.059062,-0.467285,-0.218674,0.030546,2.550450,-0.198168
3,0.525463,0.500367,0.897511,-0.376072,0.112156,2.129229,-2.092936,-0.498899,-0.420977,0.445109,-0.219205,-0.053938,0.211973,-0.421439
4,-7.540955,-7.520729,0.021788,-0.333810,0.512169,1.268366,-0.137562,-0.304762,-0.305619,-0.995339,-0.201435,-0.185348,-0.445755,-0.294859
5,-5.483927,-5.466992,0.550071,0.141818,-1.842366,-0.247122,-1.179119,-0.358381,-0.346597,2.059947,-0.159643,0.656060,-0.445755,-0.294859
6,0.538958,0.553129,-1.005675,-0.065522,-0.047700,-0.345123,1.159375,-0.359305,-0.316982,0.871624,-0.219582,-0.057342,-0.797612,1.896213

step 3: find nan row with 2 nan in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
107,0.480238,0.443925,-0.447622,-0.310548,0.059760,0.893058,0.053089,-0.389813,-0.346597,-0.491900,0.000000,0.039520,0.0,0.0
123,0.102751,0.059531,-0.660322,-0.548141,-1.909340,-0.592229,0.293175,-0.399982,-0.348319,-0.862257,0.000000,-0.458252,0.0,0.0
125,0.538958,0.523322,-0.500533,-0.555209,0.524581,-0.320597,-0.328761,-0.455450,-0.382410,-0.795549,0.000000,-0.222826,0.0,0.0
142,0.201226,0.146027,2.107650,-0.293211,-1.449929,-0.759764,-3.108874,-0.319553,-0.351762,-0.101084,0.000000,-0.090650,0.0,0.0
157,0.550142,0.555583,2.216024,1.325590,0.663596,-0.319830,-3.201277,0.033593,-0.156513,3.306606,5.716337,0.000000,0.0,0.0

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
107,56498,2456153.046,0.699321,14.007018,181.940334,214.091018,0.932014,5.27,5.46,0.060833,NaN,1.720000e-10,NaN,NaN
123,53393,2452985.145,0.675769,5.931685,9.066913,69.333067,0.998683,5.16,5.41,0.016462,NaN,-7.710000e-10,NaN,NaN
125,56981,2456807.378,0.693462,5.691471,222.748463,95.806603,0.825980,4.56,4.42,0.024454,NaN,-3.250000e-10,NaN,NaN
142,54203,2453697.986,0.982268,14.596276,49.400006,53.004871,0.053980,6.03,5.31,0.107655,NaN,-7.460000e-11,NaN,NaN
157,57073,2457073.248,0.994268,69.616289,234.953017,95.881385,0.028321,9.85,10.98,0.515916,0.000001,NaN,NaN,NaN

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
107,57254.161059,2.457531e+06,0.624986,22.494941,188.041697,190.516845,1.160632,5.140603,5.266559,0.061779,1.248510e-08,-3.875485e-09,6.996299e-10,32.090252
123,55437.630088,2.455591e+06,0.680279,9.400239,92.152338,73.685481,1.059441,5.488096,5.880201,0.149636,2.440221e-08,8.655957e-10,2.361093e-10,123.197673
125,55769.882519,2.455818e+06,0.700885,6.288178,194.289461,109.735235,0.993686,5.721304,6.321859,0.058715,1.260306e-08,7.362909e-11,8.202039e-10,-13.916378
142,54698.423892,2.454625e+06,0.955965,41.511057,17.543287,89.027890,0.122771,5.790834,5.133688,0.158813,1.938155e-07,-8.242542e-10,7.586266e-10,10.499613
157,53573.544037,2.453458e+06,0.847920,20.475755,95.553206,92.873399,0.457043,5.620402,5.363404,0.020796,2.174573e-07,-9.068778e-11,2.724692e-10,9.816073

step 4: replace the nan with 888 since we will generate a value for it by our model

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
107,56498,2456153.046,0.699321,14.007018,181.940334,214.091018,0.932014,5.27,5.46,0.060833,1.248510e-08,1.720000e-10,6.996299e-10,32.090252
123,53393,2452985.145,0.675769,5.931685,9.066913,69.333067,0.998683,5.16,5.41,0.016462,2.440221e-08,-7.710000e-10,2.361093e-10,123.197673
125,56981,2456807.378,0.693462,5.691471,222.748463,95.806603,0.825980,4.56,4.42,0.024454,1.260306e-08,-3.250000e-10,8.202039e-10,-13.916378
142,54203,2453697.986,0.982268,14.596276,49.400006,53.004871,0.053980,6.03,5.31,0.107655,1.938155e-07,-7.460000e-11,7.586266e-10,10.499613
157,57073,2457073.248,0.994268,69.616289,234.953017,95.881385,0.028321,9.85,10.98,0.515916,1.250000e-06,-9.068778e-11,2.724692e-10,9.816073

step 0: current state
deal with the original nan number(3) in row


step 1: find nan col and row in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN
11,40240,2440162.042,0.642581,17.758983,166.050417,240.875547,1.272248,5.85,6.72,0.289230,NaN,NaN,NaN,NaN
12,20080,2420098.290,0.919831,40.890061,57.080955,348.006447,1.254013,30.03,61.87,0.468283,NaN,NaN,NaN,NaN
24,56981,2456850.137,0.819155,9.169284,337.858042,36.109196,0.784161,7.89,9.03,0.085253,NaN,NaN,NaN,NaN

step 2: extract non-nan row

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,49400,2446467.395,0.967143,162.262691,111.332485,58.420081,0.585978,35.08,75.32,0.063782,2.700000e-10,1.550000e-10,3.856397e-09,15.341485
3,56870,2456618.204,0.848268,11.779995,186.540346,334.569806,0.336092,4.09,3.30,0.173092,1.580000e-10,-5.050000e-12,1.056006e-09,3.011731
4,-9480,2390514.115,0.751299,13.216400,221.658800,250.669000,0.879073,6.19,6.65,0.000518,3.900000e-09,-2.540000e-10,2.683580e-10,10.001879
5,7440,2407439.534,0.809796,29.382100,14.946800,102.967600,0.589847,5.61,5.46,0.366559,1.270000e-08,1.340000e-09,2.683580e-10,10.001879
6,56981,2457053.028,0.637528,22.335015,172.506161,93.416327,1.239215,5.60,6.32,0.224191,7.860000e-11,-1.150000e-11,-1.530000e-10,131.000000

step 3: normalization
0.19033105671405792
0.16111057996749878
0.15913231670856476
0.14452007412910461
0.15238240361213684

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
2,-0.382693,-0.731336,1.971061,4.051436,-0.744493,-0.704201,-1.193051,2.366020,2.059062,-0.467285,-0.235353,0.033312,2.732519,-0.214418
3,0.525463,0.500367,0.897511,-0.376072,0.112156,2.129229,-2.092936,-0.498899,-0.420977,0.445109,-0.235908,-0.052212,0.250781,-0.441075
4,-7.540955,-7.520729,0.021788,-0.333810,0.512169,1.268366,-0.137562,-0.304762,-0.305619,-0.995339,-0.217339,-0.185239,-0.447241,-0.312576
5,-5.483927,-5.466992,0.550071,0.141818,-1.842366,-0.247122,-1.179119,-0.358381,-0.346597,2.059947,-0.173671,0.666520,-0.447241,-0.312576
6,0.538958,0.553129,-1.005675,-0.065522,-0.047700,-0.345123,1.159375,-0.359305,-0.316982,0.871624,-0.236302,-0.055658,-0.820653,1.911722

step 3: find nan row with 3 nan in this state

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,0.253016,0.334173,-0.599288,-0.578655,-2.005476,1.733334,0.248193,-0.393510,-0.345908,-0.774206,0.0,0.0,0.0,0.0
1,0.310399,0.272627,-0.745717,-0.278369,0.307031,-0.160684,0.984454,-0.326949,-0.302520,0.620467,0.0,0.0,0.0,0.0
11,-1.496308,-1.496430,-0.960037,-0.200158,-0.121233,1.167880,1.278334,-0.336194,-0.303208,1.414494,0.0,0.0,0.0,0.0
12,-3.947235,-3.930974,1.543792,0.480406,-1.362440,2.267095,1.212665,1.899165,1.595905,2.909021,0.0,0.0,0.0,0.0
24,0.538958,0.528510,0.634587,-0.452884,1.835727,-0.933122,-0.479357,-0.147603,-0.223662,-0.288070,0.0,0.0,0.0,0.0

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,NaN,NaN,NaN,NaN
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,NaN,NaN,NaN,NaN
11,40240,2440162.042,0.642581,17.758983,166.050417,240.875547,1.272248,5.85,6.72,0.289230,NaN,NaN,NaN,NaN
12,20080,2420098.290,0.919831,40.890061,57.080955,348.006447,1.254013,30.03,61.87,0.468283,NaN,NaN,NaN,NaN
24,56981,2456850.137,0.819155,9.169284,337.858042,36.109196,0.784161,7.89,9.03,0.085253,NaN,NaN,NaN,NaN

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,55323.090673,2.455214e+06,0.661281,12.183886,75.371941,116.185160,1.062229,5.258532,5.792298,0.135971,1.085223e-08,9.798789e-10,2.498504e-10,89.585848
1,56827.613919,2.456993e+06,0.708023,9.863505,227.033900,227.285529,1.015544,5.724872,6.634441,0.154201,8.968508e-09,-6.860483e-10,7.107417e-10,40.098130
11,40093.802621,2.439671e+06,0.824444,19.463901,26.831175,94.394196,1.140087,12.865566,19.911337,0.340719,7.440409e-09,-1.985765e-09,2.269699e-10,96.240007
12,20376.941206,2.420852e+06,0.910343,44.065725,103.624335,134.276517,1.056752,28.989113,62.534125,0.403034,8.544481e-09,2.858628e-10,8.500603e-10,9.757171
24,53768.805801,2.453810e+06,0.693666,11.380781,149.201007,85.119715,0.936312,5.142209,5.386162,0.052341,1.628143e-08,1.996268e-09,2.682623e-10,10.252168

step 4: replace the nan with 888 since we will generate a value for it by our model

,Epoch (TDB),TP (TDB),e,i (deg),w (deg),Node (deg),q (AU),Q (AU),P (yr),MOID (AU),A1 (AU/d^2),A2 (AU/d^2),A3 (AU/d^2),DT (d)
0,54629,2455248.548,0.682527,4.894556,0.626838,295.985450,0.986192,5.23,5.48,0.027011,1.085223e-08,9.798789e-10,2.498504e-10,89.585848
1,55101,2454741.329,0.666313,15.100746,203.649023,111.392003,1.190642,5.95,6.74,0.194101,8.968508e-09,-6.860483e-10,7.107417e-10,40.098130
11,40240,2440162.042,0.642581,17.758983,166.050417,240.875547,1.272248,5.85,6.72,0.289230,7.440409e-09,-1.985765e-09,2.269699e-10,96.240007
12,20080,2420098.290,0.919831,40.890061,57.080955,348.006447,1.254013,30.03,61.87,0.468283,8.544481e-09,2.858628e-10,8.500603e-10,9.757171
24,56981,2456850.137,0.819155,9.169284,337.858042,36.109196,0.784161,7.89,9.03,0.085253,1.628143e-08,1.996268e-09,2.682623e-10,10.252168

In [152]:
torch.save(model.state_dict(),"the_most_best.pt")

In [151]:
display(db)

,Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,38.000000,32.100000,3.000000,-17.000000,-27.000000,10000000000000,18.000
1,36.000000,17.552256,-10.700000,-7.600000,11.600000,139000000000,0.410
2,44.000000,20.007886,14.400000,4.600000,6.500000,309000000000,0.820
3,22.200000,16.200000,-2.300000,5.700000,16.500000,3820000000000,7.600
4,26.300000,13.585399,11.500000,-2.800000,-2.200000,33000000000,0.110
5,32.209458,17.631529,2.962279,-2.914471,-0.483275,73000000000,0.230
6,28.900000,17.053800,8.525665,-2.862404,-1.083376,34000000000,0.120
7,39.000000,17.549310,-28.200000,3.400000,4.600000,33000000000,0.110
8,39.000000,21.229346,2.589049,-8.504521,0.315017,72000000000,0.230
9,23.500000,13.271047,2.300000,2.500000,-11.300000,64000000000,0.200
10,32.244730,17.629957,2.961517,-2.930798,-0.470718,35000000000,0.120
11,42.000000,19.027535,7.587658,12.795277,0.746439,58000000000,0.190
12,22.200000,16.883574,-7.200000,-12.100000,-7.700000,156000000000,0.450
13,37.000000,21.365481,1.490594,-12.787356,1.501968,20000000000,0.073
14,26.000000,18.100000,18.000000,-2.000000,-4.000000,20000000000000,33.000
15,45.500000,18.941258,-35.400000,1.800000,-4.400000,136000000000,0.400
16,31.825860,17.834875,2.887824,-2.870463,-1.012261,3400000000000,6.900
17,32.245011,17.629936,2.961511,-2.930908,-0.470615,34000000000,0.120
18,29.600000,17.140170,6.865694,-2.673383,-0.961088,140000000000,0.410
19,34.300000,18.377958,-1.100000,11.400000,-9.900000,147000000000,0.430
20,37.000000,17.549310,-7.000000,16.100000,9.400000,105000000000,0.320
21,30.500000,17.568251,4.568083,-2.367515,-1.209552,540000000000,1.300
22,32.190139,17.632391,2.962695,-2.905535,-0.490151,94000000000,0.290
23,23.300000,18.600000,12.800000,-13.300000,-2.400000,375000000000000,440.000
24,30.700000,18.838824,10.000000,-12.700000,2.200000,39000000000,0.130
25,19.100000,19.200000,14.000000,-16.000000,-6.000000,20000000000000,33.000
26,26.300000,12.400000,12.000000,3.500000,-10.500000,245000000000,0.670
27,32.245011,17.629936,2.961511,-2.930908,-0.470615,34000000000,0.120
28,22.200000,16.051852,-8.000000,8.400000,-5.500000,1610000000000,3.500
29,59.300000,27.295286,-5.000000,-11.000000,-2.700000,75000000000,0.230
...,...,...,...,...,...,...,...
62,27.200000,14.595661,15.000000,-6.900000,-3.500000,29000000000,0.100
63,28.700000,17.062156,8.668956,-2.885058,-1.128307,58000000000,0.190
64,32.216176,17.631219,2.962134,-2.917559,-0.480879,65000000000,0.210
65,32.259456,17.629313,2.961200,-2.937642,-0.465482,20000000000,0.073
66,32.323645,16.642495,-2.400000,5.500000,15.900000,280000000000,0.750
67,32.102791,17.636405,2.964585,-2.865397,-0.521301,198000000000,0.550
68,50.000000,20.696382,-9.121650,-0.231001,-1.511838,121000000000,0.360
69,35.000000,19.026566,1.400000,15.300000,1.000000,470000000000,1.200
70,32.241652,17.630091,2.961583,-2.929363,-0.471812,38000000000,0.130
71,32.222054,17.630975,2.962008,-2.920318,-0.478793,60000000000,0.190
72,33.300000,17.549310,-12.200000,-5.300000,5.300000,25000000000,0.089
73,32.167185,17.633429,2.963192,-2.894946,-0.498330,120000000000,0.360
74,29.300000,16.603722,-2.300000,-3.900000,12.400000,23000000000,0.082
75,33.100000,17.549310,-13.700000,-1.700000,0.800000,64000000000,0.200
76,27.800000,16.003691,3.400000,12.000000,5.100000,210000000000,0.580
77,23.800000,16.365104,-10.200000,-5.200000,12.400000,23000000000,0.082
78,36.300000,23.511962,8.000000,-15.600000,-7.900000,173000000000,0.490
79,38.700000,27.528809,-8.000000,-23.700000,-14.500000,68000000000,0.220
80,36.000000,20.877697,5.000000,-11.600000,-0.700000,249000000000,0.680
81,28.100000,18.220514,-1.900000,14.100000,-11.500000,244000000000,0.670
82,32.238292,17.630245,2.961656,-2.927821,-0.473010,42000000000,0.140
83,32.228774,17.630666,2.961862,-2.923408,-0.476397,52000000000,0.170
84,32.147307,17.634335,2.963621,-2.885793,-0.505414,143000000000,0.420
85,26.700000,15.474787,12.200000,-4.200000,0.900000,105000000000,0.320
86,27.200000,15.526897,8.958073,-1.448440,-0.110532,34000000000,0.120
87,32.076195,17.637619,2.965161,-2.853154,-0.530781,229000000000,0.630
88,25.200000,15.545189,7.502641,-1.571668,-0.983156,44000000000,0.150
89,26.800000,17.916924,0.800000,2.000000,-18.400000,133000000000,0.390
90,37.400000,17.549310,-15.300000,12.800000,7.400000,88000000000,0.270
91,33.300000,16.356871,-0.800000,1.100000,17.000000,132000000000,0.390